* {
    margin: 0;
    padding: 0;
}


// tr.active {
//     background: #b2b2b2;
// }

.table {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    animation-delay: 2s;
    
}

.bg-red {
    color: red !important;
}